body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

html {
    display: table;
    margin: auto;
}

html, body {
    height: 100%;
}

hr {
    width: 500px;
}

#title {
    margin: 0 auto;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 390px;
    height: 325px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#js-timer {
    text-align: center;
}

#timer {
    margin: 0 auto;
}

.tile {
    /* Box */
    border: 2px solid black;
    width: 65px;
    height: 65px;
    margin: 0px;
    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blacktile {
    /* Box */
    border: 2px solid black;
    background-color: black;
    width: 65px;
    height: 65px;
    margin: 0px;
    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color: white;
}

.empty {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.selected {
    background-color: #6AAA64;
    color: white;
    border-color: black;
}

.selected2 {
    background-color: #436B3F;
    color: white;
    border-color: black;
}

.keyboard-row {
    width: 486px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 2px solid lightgray;
    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 78px;
    height: 40px;
    margin: 1px;
    border: 2px solid lightgray;
    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-sel{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
